@font-face {
    font-family: Inter-Medium;
    src: url(../fonts/Inter/static/Inter-Medium.ttf);
}
@font-face {
    font-family: Inter-Regular;
    src: url(../fonts/Inter/static/Inter-Regular.ttf);
}
@font-face {
    font-family: NewYork;
    src: url(../fonts/NewYork/NewYork\ PERSONAL\ USE.otf);
}


/* section dreiMädels */

.dreiMädels {
    /* background-image: url(../img/Images/23.jpeg);
    background-repeat: no-repeat;
    background-size: cover; */
    height: 35em;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    position: relative;
}

.dreiMädels img {
    width: 100vw;
    height: 100%;
    /* background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
    opacity: 0.5;
    object-fit: cover;
    /* z-index: 1; */
}

.imgWrap {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px 30px;
    margin-right: 6rem;
    border-top: 1px solid white;
}
.dreiMädels h3 {
    font-size: 2.5rem;
    font-family: NewYork;
    color: white;
    width: 10vw;
    text-align: end;
    margin: 2% 2%;
    position: relative;
    top: 20px;
}
.dreiMädels p {
    font-family: Inter-Regular;
    color: white;
    width: 19vw;
    margin: 3% 5% 4% 0;

}


/* section Nominated fashion */

.nominatedFashion {
    background-color: #272422;
    color: white;
    padding: 5% 0;
}
.nominatedFashion h2 {
    font-family: NewYork;
    font-size: 4rem;
    width: 50vw;
    padding: 2% 0;
    margin-left: 15%;
}
.nominatedFashion .passionateAward {
    display: flex;
    padding: 0% 12%;
    justify-content: space-between;
    width: 80vw;
    margin-left: 15%;
}
.nominatedFashion .passionateAward p:first-child {
    width: 31vw;
    font-size: 1rem;
    font-family: Inter-Regular;
    color: #999999;
}

/* section Contact */

.kontakt {
    background-color: #272422;
    color: white;
    display: flex;
    justify-content: center;
}
.kontakt p {
    width: 70vw;
    border-bottom: 0.1px solid #999999;
    font-size: 15px;
    font-family: Inter-Medium;
    padding: 0.5%;
    margin: 3%;
}

/* section let's Work */

.letsWork {
    background-color: #272422;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 0.1px solid #999999;
    color: white;
}
.letsWork h2 {
    font-family: NewYork;
    font-size: 4rem;
    width: 37vw;
    padding: 2% 0;
}
.letsWork button {
    border: 0.1px solid #999999;
    border-radius: 30px;
    width: 9vw;
    padding: 1% 2%;
    font-size: 13px;
    font-family: Inter-Regular;
    margin-bottom: 5%;
    margin-right: 25%;
}

/* footer */

footer {
    background-color: #272422;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5% 2%;
    font-size: 16px;
}
footer p , .devineLine{
    font-family: Inter-Medium;
    padding-bottom: 10%;
}
.logoFooter {
    width: 8%;
    height: 8%;
}

.socials {
    display: flex;
    gap: 10%;
}

footer .webflow {
    font-family: Inter-Regular;
}
footer span {
    color: #999999;
}

footer .mailSubmit {
    display: flex;
    flex-direction: column;
}

footer .email {
    background-color: #272422;
    border-bottom: 0.25px solid #999999;
    font-size: 13px;
    font-family: Inter-Regular;
    margin-bottom: 15%;
}

footer button {
    border: 0.25px solid #999999;
    border-radius: 20px;
    width: 7vw;
    padding: 7% 5%;
    font-size: 13px;
    font-family: Inter-Regular;
}

